.page {
  width: 100%;
  margin-inline: auto;
  padding-inline: clamp(14px , 2.5vw , 20px);
}

// /* sm */
// @media (min-width: 576px) {
//   .page {
//     max-width: 540px;
//     padding-inline: 20px;
//   }
// }

// /* md */
// @media (min-width: 768px) {
//   .page {
//     max-width: 720px;
//   }
// }

// /* lg */
// @media (min-width: 992px) {
//   .page {
//     max-width: 960px;
//   }
// }

// /* xl */
// @media (min-width: 1200px) {
//   .page {
//     max-width: 1140px;
//   }
// }

// /* xxl */
// @media (min-width: 1400px) {
//   .page {
//     max-width: 1320px;
//   }
// }